body{
    width: 100%; height: 100%;
    -webkit-animation: color-change-3x 4s linear infinite alternate-reverse backwards;
    animation: color-change-3x 4s linear infinite alternate-reverse backwards;
    position: relative;
    /* z-index: 0; */
}
    
@-webkit-keyframes color-change-3x {
    0% {
        background: #9067B5;
    }
    50% {
        background: #7E80B9;
    }
    100% {
        background: #60CFD6;
    }
}
@keyframes color-change-3x {
    0% {
        background: #9067B5;
    }
    50% {
        background: #7E80B9;
    }
    100% {
        background: #60CFD6;
    }
}
