@charset "UTF-8";
@font-face {
  font-family: Montserrat;
  src: url(../css/Fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: sharkParty;
  src: url(../css/Fonts/sharkParty.ttf);
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}


/* LAYOUT========LAYOUT */

.container {
  width: 90%;
  max-width: 1400px;
  /* height: 100%; */
  margin: 0 auto; 
}


.container-flex {
  display: flex;
  background:  hsl(277, 64%, 61%);
  border-radius: 1em;
  overflow: hidden;
}

.flex-content {
  width: 40%;
}

.flex-image {
  width: 60%;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* max-width: 100%; */
}



section > p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 3em;
  line-height: 1.5em;
  font-weight: 400;
  font-family: 'Montserrat';
}


.stats-container {
  display: flex;
  justify-content: space-evenly;
}


.flex-image {
  position: relative;
}



.flex-image::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: hsla(277, 64%, 61%);
  opacity: 0.4;
}


@media screen and (max-width:800px){
  .container-flex {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 3em;
  
  }

  .flex-image {
    width: 100%;
  }
  .flex-content {
    width: 100%;
   
  }

  .stats-container {
    flex-direction: column;
    gap: 2em
  }
}



.container-flex {
  display: flex;
  background:  #601f8c;
}


.flex-image {
  width: 50%
} 

 .flex-image {
 position: relative;
}
.flex-image::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: hsla(277, 64%, 61%, 0.6);
  
  
}  
/* Typography */

.content {
  padding: 3em;
  text-align: center;
}
h1 {
  margin: 1em 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  font-family: 'sharkParty';
  padding-bottom: 50px;
  padding-top: 90px;
  text-align: center;
}
section > p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5em;
  font-weight: 400;
}

section> p {
  font-family: 'Montserrat';
}


h2 {
  margin: 1em 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  font-family: 'sharkParty';
  padding-bottom: 50px;
  padding-top: 90px;
  text-align: center;
  letter-spacing: 5px;
}

h3 {
  margin: 1em 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  font-family: 'sharkParty';
  padding-bottom: 50px;
  padding-top: 90px;
  text-align: center;
  letter-spacing: 5px;
  text-shadow:  0 0 10px rgb(128, 40, 228);
}



.text {
  padding: 0 20px 20px;
}



.card { /*cards de daniel y jaqueline*/
  box-shadow: 0 0px 8px 0 rgba(255, 251, 3, 0.2);
  width: 40%;
  flex: 1;
  display: flex;
  flex-direction: column;

}


#card4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 496px;
  margin: 0 auto;
  padding: 9px;
  background-color: #601f8c;
  border-radius: 10px;
 
  }

  .card-title{
    
    color: #fff;
    text-align: center;
  }

  .h4{
  font-family: 'Montserrat';
}
