/* --Slideshow-- */
 /*body{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background: #131313;
}*/
@font-face {
    font-family: sharkParty;
    src: url(../css/Fonts/sharkParty.ttf);
  }

.h5{
    font-family: 'sharkParty';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
   html{
        font-size: .9rem;
    } 
    
    .slideshow{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        object-fit: cover;
        background-position: center;
        background-size: cover;
        
     
    }
    
      .slideshow-item{
        width: inherit;
        height: inherit;
        position: absolute;
        opacity: 0;
        animation: cycleImages 31s infinite;
       
    }
    
    .slideshow-item img{
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: zoom 31s infinite;
        min-height: 100vh;
    }
    
    .slideshow-item:nth-child(1),
    .slideshow-item:nth-child(1) img{
        animation-delay: 0s;
        }
        
        .slideshow-item:nth-child(2),
        .slideshow-item:nth-child(2){
        animation-delay: 10s;
        }
        
        .slideshow-item:nth-child(3),
        .slideshow-item:nth-child(3){
        animation-delay: 20s;
        }
    
    .slideshow-item-text{
      
        background-color: rgb(96, 26, 143, .2);
        color: white;
    padding-bottom: 20px;
    padding-top: 20px;
        margin: auto;
        text-align: justify;
       display: grid;
      place-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 16px;
    padding-left: 20px;
    padding-right: 20px;
    }
    
    
    .slideshow-item-text h5 {
        font-size: 2rem;
        font-family: 'sharkParty'; 
        src: url('../Fonts/sharkParty.ttf');
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: .5rem;
    }
    
    .slideshow-item-text p {
        font-size: 1.2rem;
        font-family: 'Montserrat';
        letter-spacing: .5px;
        font-weight: 300;
    }
    
    @keyframes cycleImages{
    25%{
        opacity:1;
    }
    40%{
        opacity:0;
    }
    }
    
    @keyframes zoom {
        100%{
            transform: scale(1.3);
        }
    }
    
    @media screen and (max-width:100px){
        .slideshow-item-text{
            max-width:70%;
            padding: 5rem 1rem;
        }
    } 
    
    .slideshow-item-text h5{
        font-size:2rem;
        }
       
        @media screen and (max-width:767px){
            .slideshow-item-text{
                max-width:100%;
                padding: 2rem;
                top: initial;
                bottom: 0;
                transform: initial;
            }
        
        .slideshow-item-text h5{
            font-size:3rem;
        }
        slideshow-item-text p{
            font-size:1.6rem;
        }
    }
    