@font-face {
  font-family: Montserrat;
  src: url(../css/Fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: sharkParty;
  src: url(../css/Fonts/sharkParty.ttf);
}


body{
  font-family: 'Montserrat';
  background-color: black;
  margin: 0;
  padding: 0;
}

#slider{
  margin-top: 20px;
}

.img-area{
  width: 70%;
  margin-left: 15%;
}

.img-area img{
  display: inline-block;
  overflow: hidden;
}

h1{
  padding-bottom: 50px;
  padding-top: 90px;
  text-align: center;
  font-family: 'SharkParty';
  color: white;
  font-size: 50px;
  letter-spacing: 3px;
}

h2 {
  padding-bottom: 50px;
  padding-top: 90px;
  text-align: center;
  font-family: 'Montserrat';
  color: #8a3bd9;
  text-shadow: 2px 2px 5px gray;
  font-size: 40px;
  letter-spacing: 2.5px;
}

.proyect {
  padding-bottom: 50px;
  padding-top: 10px;
  text-align:justify; 
  color: white; 
  width: 90%; 
  margin-left: auto; 
  margin-right: auto;
  font-family: 'Montserrat';
  font-size: 1.8vw;
}

.content{
  font-family: 'Montserrat';
  color: white;
  text-align: center;
  height: 480px;
  padding: 30px;
 margin-block-end: 50px;
  border-radius: 25px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
} 

.content >.front{
  padding: 50px 0;
  position: absolute;
  -webkit-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);
  background-color: rgba(96, 26, 143, 0.616);
  height:425px;
  border-radius: 25px;
  -webkit-backface-visibility: hidden;
  transition: webkit-transform .5s linear 0s;
  transition:transform .5s linear 0s;
}

.content >.back{
  padding: 50px 0;
  position: absolute;
  -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);
  background-color: rgba(96, 26, 143, 0.616);
  height:425px;
  border-radius: 25px;
  -webkit-backface-visibility: hidden;
  transition: webkit-transform .5s linear 0s;
  transition:transform .5s linear 0s;
}

.content:hover >.front{
  -webkit-transform: perspective(600px) rotateY(-180deg);
  transform: perspective(600px) rotateY(-180deg);
}

.content:hover >.back{
  -webkit-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);
}

.content h2{
  font-size: 20px;
  margin:10px auto;
}

.content h3{
  text-transform: uppercase;
  font-weight: 500;
}

.content p{
  font-style: italic;
  line-height: 1.9;
  width: 90%;
  margin: 10px;
}

.socials i{
  font-size: 25px;
  margin: 0 10px;
}

.socials a{
  color: white;
}
.owl-dots{
  text-align: center;
  margin-top: 3%;
}

.owl-dot{
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: rgb(141, 37, 37);
  opacity: .8;
  margin: 0 10px;
  border-radius: 50%;
}

.owl-dot.active{
  background-color: rgb(216, 37, 37);
}

