body{
    font-family: Montserrat;
    background-color: black;
    margin: 0;
    padding: 0;
}

#slider{
    margin-top: 20px;
}

.img-area{
    width: 70%;
    margin-left: 15%;
}

.img-area img{
    display: inline-block;
    overflow: hidden;
}


.content{
    font-family: 'Montserrat';
    color: white;
    text-align: center;
    height: 480px;
    padding: 30px;
    border-radius: 25px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
} 

.content >.front{
    padding: 50px 0;
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    background-color: rgba(96, 26, 143, 0.616);
    height:425px;
    border-radius: 25px;
    -webkit-backface-visibility: hidden;
    transition: webkit-transform .5s linear 0s;
    transition:transform .5s linear 0s;
}

.content >.back{
    padding: 50px 0;
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    background-color: rgba(96, 26, 143, 0.616);
    height:425px;
    border-radius: 25px;
    -webkit-backface-visibility: hidden;
    transition: webkit-transform .5s linear 0s;
    transition:transform .5s linear 0s;
}

.content:hover >.front{
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg);
}

.content:hover >.back{
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
}

.content h2{
    font-size: 20px;
    margin:10px auto;
}

.content h3{
    text-transform: uppercase;
    font-weight: 700;
}

.content p{
    font-style: italic;
    line-height: 1.9;
    width: 90%;
    margin: 10px;
}

.socials i{
    font-size: 25px;
    margin: 0 10px;
}

.socials a{
    color: white;
}
.owl-dots{
    text-align: center;
    margin-top: 3%;
}

.owl-dot{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: rgb(141, 37, 37);
    opacity: .8;
    margin: 0 10px;
    border-radius: 50%;
}

.owl-dot.active{
    background-color: rgb(216, 37, 37);
}

.fondo {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-radial-gradient(#560e86, #0a0011);
  }
  .container2 span {
    font-size: 12vw;
    text-align: center;
    font-weight: bold;
    position: relative;
    font-family: "Fredoka One";
    transition: all 300ms ease-in-out;
  }
  .container2 span::before {
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(15px);
  }
  .container2 span::after {
    content: var(--l);
    position: absolute;
    height: 200%;
    width: 300px;
    top: 80%;
    left: 0;
    filter: blur(30px);
    transform: rotateX(50deg);
  }
  .container2 span:hover {
    filter: contrast(250%);
  }
  .container2 span:nth-child(1) {
    color: #ff0697;
  }
.container2 span:nth-child(2) {
  color: #bb00ff;
}
.container2 span:nth-child(3) {
  color: #bb00ff;
}
.container2 span:nth-child(4) {
  color: #bb00ff;
}
.container2 span:nth-child(5) {
  color: #bb00ff;
}
.container2 span:nth-child(6) {
    color: #ff0697;
  }
.container2 span:nth-child(7) {
  color: #bb00ff;
}
.container2 span:nth-child(8) {
    color: #ff0697;
  }